.navbar.is-link {
    background-color: #009EE8;
}
.navbar-item {
    color: white;
}

.navbar-item .is-logo {
    background-color: white;
}

.navbar-item .is-white {
    color: white;
}

.hovertext{
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: 1px outset gray;
    outline-width: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;
    display: block;
    margin: 0 auto;


    position: absolute;
    bottom: 130%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.currentDate{
    color: white;
    width: max-content;
    border-radius: 100%;
    background-color: red;
}
.currentWeekDay{
border-bottom: 5px red;
color: red;
    border-radius: 100%;
    background-color: red;
}

/*GRAPH*/
#graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#graph-table{
    height: 250px !important;
    max-width: 550px !important;
    margin: 0 !important;
    font-weight: bold !important;
}

#graph-table.bar {
    --labels-size: 150px;
}
